@import "tailwindcss";


@keyframes scrollRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scrollLeft {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
@keyframes scrollRightSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-right {
  animation: scrollRight 40s linear infinite;
}
.animate-scroll-left {
  animation: scrollLeft 30s linear infinite;
}
.animate-scroll-right-slow {
  animation: scrollRightSlow 60s linear infinite;
}



@font-face {
  font-family: 'MaisonNeue';
  src: url('/MaisonNeue-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Presser';
  src: url('/presser-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Presser', Arial, sans-serif;
  font-weight: bold;
}

.font-presser-bold {
  font-family: 'Presser', Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.font-maisonneue-black {
  font-family: 'MaisonNeue', Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
}