@import "tailwindcss";


@keyframes scrollRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scrollLeft {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
@keyframes scrollRightSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-right {
  animation: scrollRight 40s linear infinite;
}
.animate-scroll-left {
  animation: scrollLeft 30s linear infinite;
}
.animate-scroll-right-slow {
  animation: scrollRightSlow 60s linear infinite;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/font/MaisonNeue-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('./font/MaisonNeue-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maison Neue';
  src: url('./font/MaisonNeue-BookItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: 'Maison Neue', Arial, sans-serif;
  font-weight: bold;
}